body {
    background-color: rgb(246, 251, 255);
    font-family: Arial, sans-serif;
    color: #103152;
    margin: 0;
    padding: 0;
}

/* HOME PAGE HEADER*/
#home-header {
    text-align: center;
    background-color: #103152;
    padding: 20px;
    padding-bottom: 0;
}
#home-header img{
    width: 100%;
}

#home-header h1 {
    color: white;
    font-size: 36px;
    margin-top: 13px;
}

#home-header h3 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    margin-top: 13px;
    margin-bottom: 0;
}

#home-header h2 {
    color: #C5A801;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ALL OTHER PAGES HEADER */
.other-header {
    height: 150px;
    background-image: 
        linear-gradient(rgba(0, 50, 100, 0.5), rgba(0, 50, 100, 0.5)),
        url("media/header banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 50px;
}

.other-header h1 {
    font-size: 35px;
    color: white;
    margin-bottom: 6px;
}

.other-header h2 {
    font-size: 20px;
    color: #C5A801;
    font-weight: normal;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    background-color: #103152;
    border-top: 2px solid rgba(197, 168, 1, 0.4);
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;  
    margin: 0;
    padding: 0 20px;
    justify-content: center;
}

nav ul li a{
    display: block;  /* makes the whole padding area clickable, not just the text */
    color: aliceblue;
    text-decoration: none; /* no underline */
    padding: 20px 15px;  
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

nav ul li a:hover{
    color: #C5A801;
}

nav ul li a.active {
    color: #C5A801;
    border-bottom: 2px solid #C5A801;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
main img {
    width: 100%;
}
footer {
    background-color: #103152;
    color: white;
    text-align: center;
    padding: 5px;
    line-height: 20px;
}
footer a{
    color: #C5A801;
}
.sources {
    opacity: 0.5;
    font-size: 10px;
    line-height:2px;
}

/* HOME */

.intro {
    padding: 5px 20px;
    margin: 30px 0;
    border-left: 2px solid #C5A801;
    font-size: 17px;
    line-height: 1.5;
    background-color: white;
    border-radius: 5px;
    font-style: italic;
    font-family: 'Trebuchet MS', sans-serif;
}

.departure {
    padding: 6px 20px;
    margin: 50px;
    font-size: 18px;
    background-color: #103152;
    color: white;
    border: 3px solid #C5A801;
    border-radius: 35px;
    text-align: center;
}
.section {
    padding: 20px;
}
.section h2 {
    padding-left: 18px;
}
.section-grid{
    display: flex;
    gap: 40px;
    align-items: center;
}
@media screen and (max-width: 700px) {
    .section-grid {
    flex-direction: column;
    } 
}
.section-card {
    text-align: center;
    flex: 1;

}
.section-card p {
    border-top: 1.5px solid #C5A801;
    border-bottom: 1.5px solid #C5A801;
    border-radius: 3px;;
    padding: 13px;;
    background-color: white;
    line-height: 1.4;
}
.testimonials h2 {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid #C5A801;
}
.testimonials {
    padding: 30px;
}
.testimonial-grid {
    display: flex;
    gap: 30px;
    padding: 30px;
}
@media screen and (max-width: 700px) {
    .testimonial-grid {
    flex-direction: column;
    } 
}
.testimonial-card {
    background-color: white;
    padding: 20px;
    border-left: 3px solid #C5A801;
    border-radius: 10px;
    box-shadow: 0 2px 8px black;
}
.testimonial-card p {
    font-style: italic;
    margin-top: 5px;
    color: #8d7807;
}
.author {
    font-weight: bold;
}
.cta {
    background-color: #103152;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 17px;
    border-radius: 35px;
    margin: 30px;
}
.cta h2 {
    margin: 0;
    padding-bottom: 10px;
    color: #C5A801
 }
 .cta p {
    padding-bottom: 17px;
 }
.cta a {
    background-color: #C5A801;
    color: #103152;
    font-weight: bold;
    border-radius: 90px;
    padding:12px 20px;
    text-decoration: none;
 }
 .cta a:hover {
    background-color: white;
    padding: 11.5px 19px;
 }
 
/* ROUTE */

.general img{
    height: 400px;
    width: 100%;
    object-fit: contain;
    margin: 20px auto;
}
.general{
    text-align: center;
    font-size: 18px;
}
 .info {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    gap: 15px;
 }
 .item {
    text-align: center;
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
 }
@media screen and (max-width: 700px) {
.info {
flex-direction: column;
} 
}
 .item p {
    margin-top: 0;
    font-size: 17px;
    background-color: #fcfaee;
    border-radius: 40px;
 }
 .item strong {
    color: #C5A801;
    font-size: 18px;
 }

 .stop-card {
    margin-bottom: 40px;
    padding-bottom: 35px;
    border-bottom: 1px solid #7096bd;
}

.stop-number {
    background-color: #103152;
    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;   /* for alignment in order to use the next two and put num in middle*/
    align-items: center;
    justify-content: center;
}
.stop-card img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 8px;
}
.stops h2 {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #7096bd;
}


/* EXPERIENCES  */
 .experience-section {
    margin: 40px 0;
}
.row {
    display: flex;
    gap: 20px;
}
.column {
    flex-basis: 33.33%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 15px;
}
.column img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.column h3 {
    text-align: center;
}
.experience-section h2 {
    text-align: center;
    background-color: white;
    padding: 20px;
    border: 1px solid #C5A801;
    border-radius: 10px;
    margin: 23px 0;
}
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* PRICING */
.cabin-row {
    display: flex;
    align-items: center;
    margin: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #d0dce8;
    gap: 50px;
}
.cabin-column {
    flex-basis: 50%;
}
.cabin-column h2 {
font-size: 22px;
color: #0A2540;
margin-bottom: 8px;
}

.cabin-column .price {
    font-size: 28px;
    font-weight: bold;
    color: #C5A801;         
    margin-bottom: 14px;
}

.cabin-column .price span {
    font-size: 15px;
    color: #888;
    font-weight: normal;
}
.cabin-column .check-list p{
    margin: 8px;
    font-size: 14px;
    color: #888;
    border-bottom: 1px solid #dadada;
    padding-bottom: 6px;
}
.cabin-column span {
    color: #C5A801;
}
.cabin-column > img {
width: 100%;
height: 250px;
border: 2px solid #7aafd4;
border-radius: 10px;
object-fit: cover;
}
@media screen and (max-width: 700px) {
    .cabin-row {
        flex-direction: column;
    }
}
.offer {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    border:1px dashed #C5A801;
    margin: 50px;
}
.offer h2{
    color: #C5A801;
}

/* CONTACT */
.contact {
    text-align: center;
}


